@import "@webitel/ui-sdk/src/css/main";

/* disables scrollbar on 100vh auth on small laptops */
body {
	display: flex;
	background: var(--wt-page-wrapper-background-color);
	min-width: 100%;
	min-height: 100%;
	color: var(--text-main-color);
}

#app {
	min-width: 100%;
	min-height: 100%;
}

.wt-page-wrapper {
	flex-grow: 1;
	display: flex;
	max-height: 100%;
}

.wt-dummy {
	flex-grow: 1;
}
