@forward '@webitel/ui-sdk/src/css/main';

// SECTION HEADING
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin: var(--spacing-sm) 0;

  .content-title {
    @extend %typo-heading-3;
  }

  // WRAP FOR SEARCH INPUT
  .content-header__actions-wrap {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: var(--table-actions-icon-gap);
  }
}

// GRID TEMPLATE FOR MODULE INPUTS
.object-input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  //grid-auto-rows: minmax(85px, auto);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  align-items: flex-start;
}
