.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 100%;
  width: 100%;
  box-sizing: border-box;

  .wt-table {
    flex-grow: 1;
  }

  .wt-pagination {
    margin-top: 20px;
    margin-left: auto;
  }

  .table-action {
    margin-left: 10px;
  }

  .name-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      text-decoration: underline;
    }
  }
}
